/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Anton', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather|Open+Sans:300');

body {
  margin: 0;
  background-color: #E6E8E6; /* off white */
  padding: 0;
  color: #2F4858; /* dark blue */
  font-family: 'Merriweather', serif;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 28pt;
}

.and {
  padding-top: 5pt;
  font-family: 'Anton', sans-serif;
}

.header {
  text-align: center;
  padding: 24pt;
}

.container {
  display: grid;
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;

  grid-template-rows: min-content auto;
}

.navigation {
  display: grid;
  grid-auto-flow: column;
}

.navigation a {
  text-align: center;
  color: #DB9C27; /* mustard */
  text-decoration: none;
}

.navigation a.active {
  border-bottom: 1px solid #DB9C27; /* mustard */
}

.content {
  padding-top: 4em;
  text-align: center;
}


.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
